.vscode

##
# Builds
#
builds/

##
# Configs
#
!configs_*example.lua
.env*
*root_configs*.lua
configs_*.lua
configs/
deploy.config.ts

##
# Data files (e.g., datasets, JSON, text files)
#
data/

##
# JWKs
#
keys/
!keys/.gitkeep
*.key.json
wallet.json

##
# LuaRocks
#
*.tmp.lua/luarocks
/lua
/lua_modules
/.luarocks
/luarocks

##
# Node
#
node_modules

##
# Temporary files
#
tmp/
*.tmp.*

history/*
